body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.shadow {
    width: 200px;
    padding: 40px;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #191919;
    text-align: center;
}

.shadow h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.shadow input[type="text"],
.shadow input[type="email"] {
    width: 100px;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    color: white;
    outline: none;
    border-radius: 24px;
}

.shadow imput[type="text"]:focus,
.shadow input[type="email"]:focus {
    width: 100px;
    border-color: #2ecc71;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}